
.book-search-container {
  padding: 20px;
  color: #330000;
}

.header h1 {
  font-size: 40px;
  color: #330000;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.description {
  flex: 1;
  max-width: 50%;
  padding-right: 20px;
}

.description h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #330000;
} 

.description p,
.suggested-books p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #73605B;
}

.search-input-container {
  display: flex;
  margin-top: 10px;
}

.search-bar {
  width: 70%;
  padding: 12px;
  border: 1px solid #73605B;
  border-radius: 4px 0 0 4px;
  color: #330000;
}

.search-button {
  background-color: #330000;
  color: white;
  border: 1px solid #330000;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #73605B;
}

.suggest-button-container {
  margin-top: 10px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  border-radius: 8px;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.suggested-books {
  margin-top: 20px;
}

.suggested-books h3 {
  font-size: 1.5em;
  color: #330000;
}

.suggested-books ul {
  list-style-type: none;
  padding: 0;
}

.suggested-books li {
  font-size: 1.2em;
  color: #73605B;
  margin-bottom: 5px;
}
